@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosanskr/v21/Pby6FmXiEBPT4ITbgNA5CgmOsn7tqoAetwxcvEcQNuukkRBBEIyMcFQ.0.woff2) format('woff2');
  unicode-range: U+f9ca-fa0b, U+ff03-ff05, U+ff07, U+ff0a-ff0b, U+ff0d-ff19, U+ff1b, U+ff1d, U+ff20-ff5b, U+ff5d, U+ffe0-ffe3, U+ffe5-ffe6;
}
body{
	margin: 0;
	
}

#nav_bar {
	position :fixed;
	padding-top:  8px;
	padding-bottom: 8px;
	padding-left: 24px;
	padding-right: 24px;
	background-color: rgb(167, 163, 154);
	border-style: solid;
  border-width: 0px 0px thin 0px;
	border-bottom-color: white;
	width: 100%;
	height: 42.750;
	margin: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	

}
.header{
	width: 56;
	height: 24;
	margin-top:9.380px ;
	margin-bottom: 9.380px;

}
.header img{
	width: 56;
	height: 24;
}
body button{
	width: 8.323;
	height: 32;
	padding:  7 25;
	font-size: 10px;
	font-weight : 400;
	border : none;
	background-color: rgb(255,235,96);
	border-bottom-left-radius: 100px;
	border-bottom-right-radius: 100px;
	border-top-left-radius: 100px;
	border-top-right-radius: 100px;
}
.main_section{
width: 100%;
	height: 680;
	background-color: rgb(167, 163, 154);
	padding-top: 65;

}
.main{
	width: 100%;
	height: 680;
	display: flex;
	flex-direction: row;
	background-color: rgb(167, 163, 154);
}
.main_txt{
	width: 100%;
	height: 254.427;
	margin-top: 80;
	margin-left: 74.344;
}
.main_txt img{
	width: 400;
	height: 168.229;
}
.model{
	float: right;
	width: 600;
	height: 591.177px;
}
.model img{
	float: right;
	width: 600;
	height: 591.177px;
}
.information h1{
	display: block;
	text-align: center;
	font-size: 49;
	margin-bottom: 24;
}
.information h2{
	display: block;
	text-align: center;
	font-size: 22;
	font-weight: 20;
}
.icon img{
	display: block;
	margin: auto;
	width: 136;
	height: 136;
}
.icon span{
	display: block;
	margin: auto;
	width: 211.385;
	height: 36;
	padding-bottom: 8;
	font-weight: 700;
	font-size: 20;
}
.icon p{
	text-align: center;
}

.icon{
	margin-top: 60;
	display: flex;
	justify-content: space-around;
	flex-direction: row;
}
.icon li{
	display: block;
	text-align: center;
	display: flex;
	flex-direction: column;
	width: 460.594;
	height: 220;
}
